.main{
    flex-grow: 0;
}
.products__wrp{
    display:flex;
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    -ms-flex-pack: justify;
}
.main .promo::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}
.button--big{
    margin: 75px auto 100px;
}
.promo header{
    color: #ffffff;
}
.promo__article:nth-child(3) h3{
    color: #fc4e52;
}
.promo__article:nth-child(3) p{
    color: #757575;
}
.promo__article p{
    font-size: 16px;
}
.promo header{
    width: 100%;
    top:65%;
}
.promo .promo__article:first-child header{
    width: 50%;
    right: 0;
    top: 0;
}
.promo .promo__article{
    height: 33vw;
    max-height: 385px;
}
.products__promo header{
    position: static;
    width: 100%;
}
.products__promo{
    padding-top: 20px;
    padding-bottom: 100px;
    flex: 1 0 100%;
    order: 1;
}
.products__promo span{
    color: #fc4e52;
}
.products--small .product:nth-of-type(n+14):nth-of-type(-n+17){
    display: none;
}
@media (max-width:767px){
    .products--small .product:nth-of-type(n+10):nth-of-type(-n+17){
        display: none;
    }
    .promo__article h3{
        font-size: 20px;
    }
    .promo__article p{
        font-size: 14px;
    }
    .promo__article:first-child{
        flex-basis: 100%;
    }
    .promo__article:nth-child(2),.promo__article:nth-child(3){
        display: none;
    }
    .products__wrp{
        padding-top: 20px;
    }
    .product{
        flex-basis: 47%;
    }
    .product:nth-of-type(n+4){
        order: 1;
    }
}
@media (min-width:768px) and (max-width:1023px){
    .promo__article h3{
        font-size: 22px;
    }
    .promo__article:nth-child(2) header{
        top:50%;
    }
    .promo .promo__article:nth-child(3){
        display: none;
    }
    .promo .promo__article:first-child{
        flex-basis: 60%;
    }
    .promo .promo__article:nth-child(2){
        flex-basis: 40%;
    }
    .products__wrp{
        padding-top: 40px;
    }
    .product{
        flex-basis: 28.6%;
    }
    .product:nth-of-type(n+5){
        order: 1;
    }
}
@media (min-width:1024px){
    .promo__article h3{
        font-size: 28px;
    }
    .products__wrp{
        padding-top: 60px;
    }
    .product{
        flex-basis: 20.7%;
    }
    .product:nth-of-type(n+6){
        order: 1;
    }
    .promo .promo__article:nth-child(3){
        flex-basis: 25%;
    }
    .promo .promo__article:first-child{
        flex-basis: 50%;
    }
    .promo .promo__article:nth-child(2){
        flex-basis: 25%;
    }
}
@media (min-width:1300px){
    main .promo::before{
        background-color: white;
        background-image: linear-gradient(to left, #ffffff 0.5%, #e5e5e5 50%, #ffffff 99.5%);
    }
}