html{
    font-size: 13px;
}
a{
    text-decoration: none;
    color: black;
}
.link{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
a:hover{
    color: #fc4e52;
}
a:active{
    color:#a8a8a8;
}