html{
    font-size: 13px;
    height: 100%;
}
body{
    display: flex;
    display: flexbox;
    flex-direction: column;
    height: 100%;
}
.header, .main, .footer{
    flex-shrink: 0;
    flex-basis: auto;
 }
 .main{
     flex-grow: 1;
 }
a{
    text-decoration: none;
    color: black;
}
.icon{
    height:12px;
    border: none;
}
.link{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.heading{
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    padding: 0;
    text-align: center;
}
.small-heading{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    text-align: center;
}

.price{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    text-align: center;
}
.cursive{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}
a:hover{
    color: #fc4e52;
}
a:active{
    color:#e5e5e5;
}
.wrp{
    box-sizing: border-box;
    padding: 0 5%;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
}
.wrp--big{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.product__img img{
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
}
.product__img{
    margin: 0;
    margin-bottom: 10%;
}
.product{
    box-sizing: border-box;
}
.product__title,.product__price{
    font-size: 1.1rem;
}
.big-button{
    font-size: 24px;
    display: block;
    height: 77px;
    width: 100%;
    line-height: 77px;
    background-color: white;
    border: 1px solid #e5e5e5;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    text-align: center;
    z-index: 1;/* при наложении ячеек сетки кнопка не нажималась*/
    position: relative;/*в ie без для static не работает z-index*/
}
.big-button:hover{
    border-color: #fc4e52;
}
.new-label{
    color: white;
    font-family:'Roboto',sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: #fc4e52;
    padding: 0.5rem 1rem;
    position: absolute;
    top:3rem;
    left: 0;
}
.main::before, .footer::after, .footer::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}
.footer::after{
    position: absolute;
    bottom: 80px;
}
.price--crossed::after{
    content: "";
    display: block;
    z-index: 1;
    width:3em ;
    height: 1px;
    background-color: #fc4e52;
    transform: rotate(-25deg) translateY(-0.7em);
    margin: 0 auto;
}
@media (max-width:767px){
    .small-heading{
        font-size: 10px;
    }
    .link, .footer__questions .small-heading{
        font-size: 12px;
    }
    .heading{
        font-size: 14px;
    }
    .product__title,.product__price{
        font-size: 1rem;
    }
    .big-button{
        max-width: 220px;
        font-size: 20px;
    }
    footer::after{
        bottom: 65px;
    }
}
@media (min-width:768px) and (max-width:1023px){
    .big-button{
        max-width: 300px;
    }
    .small-heading{
        font-size: 12px;
    }
    .link, .footer__questions .small-heading{
        font-size: 14px;
    }
    .heading{
        font-size: 16px;
    }
}
@media (min-width:1024px){
    .big-button{
        max-width: 340px;
    }
    .small-heading{
        font-size: 12px;
    }
    .link, .footer__questions .small-heading{
        font-size: 14px;
    }
    .heading{
        font-size: 16px;
    }
}
@media (min-width:1300px){
    .main::before, .footer::after, .footer::before{
        background-color: white;
        background-image: linear-gradient(to left, #ffffff 0.5%, #e5e5e5 50%, #ffffff 99.5%);
    }
    .wrp{
        padding: 0;
    }
}
