html{
    font-size: 13px;
}
body>header,main,footer{
    min-width: 375px;
}
a{
    text-decoration: none;
    color: black;
}
.icon{
    height:12px;
    border: none;
}
.link{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
.heading{
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    padding: 0;
    text-align: center;
}
.small-heading{
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    text-align: center;
}
.price{
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    text-align: center;
}
.cursive{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
}
a:hover{
    color: #fc4e52;
}
a:active{
    color:#e5e5e5;
}
.wrp{
    padding: 0 5%;
}
.product__img img{
    display: block;
    margin: 0 auto;
    width: auto;
    max-width: 100%;
}
.product__img{
    margin: 0;
    margin-bottom: 10%;
}
.product__title,.product__price{
    font-size: 1.1rem;
}
.big-button{
    font-size: 24px;
    display: block;
    height: 77px;
    width: 100%;
    line-height: 77px;
    background-color: white;
    border: 1px solid #e5e5e5;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    text-align: center;
    z-index: 1;/* при наложении ячеек сетки кнопка не нажималась*/
    position: relative;/*в ie без для static не работает z-index*/
}
.big-button:hover{
    border-color: #fc4e52;
}
.new-label{
    color: white;
    font-family:'Roboto',sans-serif;
    font-weight: 500;
    font-size: 1rem;
    background-color: #fc4e52;
    padding: 0.5rem 1rem;
    position: absolute;
    top:3rem;
    left: 0;
}
@media (max-width:767px){
    .product__title,.product__price{
        font-size: 1rem;
    }
    .big-button{
        width: 220px;
        font-size: 20px;
    }
}
@media (min-width:768px) and (max-width:1023px){
    .big-button{
        width: 300px;
    }
}
@media (min-width:1024px){
    .big-button{
        max-width: 340px;
    }
}
