.filter::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
    top:65px;
    position: absolute;
}
.filter{
    height: 65px;
    position: relative;
}
.filter__wrp{
    display: grid;
    display: -ms-grid;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}
.filter__icon{
    background-image: url('../img/ico_down.svg');
    width: 6px;
    height: 3px;
    position: absolute;
    left: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 6px 3px;
}
.filter__category{
    display: flex;
    display: flexbox;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    -ms-flex-align: center;
    -ms-flex-pack: justify;
    box-sizing: border-box;
    text-align: left;
    position: relative;
}
.filter__checked, .filter__name{
    text-align: left;
    margin: 0.5em 0;
    padding: 0 5%;
}
.filter__title{
    text-align: left;
}
.filter__options{
    display: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Open Sans',sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
}
.filter__options ul{
    padding: 0;
    margin: 0;
}
.filter__option{
    box-sizing: border-box;
    display: block;
    width: 100%;
}
.filter__option input{
    display: none;
}
.filter__option label{
    display: inline-block;
    padding: 0.6em 5%;
}
.filter__option input:checked+label{
    color: #fc4e52;
}
.filter__option:hover{
    color: #fc4e52;
}
.filter__category--checked .filter__checked{
    display: block;
    color: #fc4e52;
}
@media (max-width:767px){
    .filter__wrp{
        grid-template-columns: repeat(7,min-content);
        -ms-grid-columns:(min-content)[7];
        grid-template-rows: repeat(4,max-content);
        -ms-grid-rows: (max-content)[4];
    }
    .filter{
        height: 55px;
    }
    .filter::after{
        top:55px;
    }
    .filter__category{
        grid-row: 1;
    }
    .filter__category, #filter__drop{
        height: 55px;
    }
    .filter__category--1{
        -ms-grid-column: 1;
    }
    .filter__category--2{
        grid-column: 2/4;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
        justify-self: center;
        -ms-grid-column-align: center;
    }
    .filter__category--3{
        grid-column: 4/5;
        -ms-grid-column: 4;
    }
    .filter__category--4{
        -ms-grid-column: 5;
    }
    .filter__category--5{
        -ms-grid-column: 6;
    }
    .filter__category--6{
        grid-column:7 ;
        -ms-grid-column: 7;
    }
    .filter__options--1{
        grid-row: 2;
        -ms-grid-row: 2;
        grid-column: 1/3;
        -ms-grid-column-span: 2;
    }
    .filter__options--2{
        grid-row: 2;
        -ms-grid-row: 2;
        grid-column: 4/7;
        -ms-grid-column: 4;
        -ms-grid-column-span: 3;
    }
    .filter__options--3{
        grid-row: 3;
        -ms-grid-row: 3;
        grid-column: 1/3;
        -ms-grid-column-span: 2;
    }
    .filter__options--4{
        grid-row: 3;
        -ms-grid-row: 3;
        grid-column: 4/7;
        -ms-grid-column: 4;
        -ms-grid-column-span: 3;
    }
    .filter__options--5{
        grid-row: 4;
        -ms-grid-row: 4;
        grid-column: 1/3;
        -ms-grid-column-span: 2;
    }
    .filter__options--6{
        grid-row: 4;
        -ms-grid-row: 4;
        grid-column: 4/7;
        -ms-grid-column: 4;
        -ms-grid-column-span: 3;
    }
}
@media (max-width:600px){
    .filter__category--5,.filter__category--6{
       display: none;
    }
    .filter__category--4{
        -ms-grid-column: 6;
        -ms-grid-column-span: 2;
        grid-column: 6/8;
    }
    .filter__category--3{
        grid-column: 5;
        -ms-grid-column: 5;
    }
    .filter__category--2{
        grid-column: 2/5;
        -ms-grid-column-span:3 ;
    }
}
@media (min-width:768px) and (max-width:1023px){
    .filter__wrp{
        grid-template-columns: repeat(9,min-content);
        -ms-grid-columns:(min-content)[9];
        grid-template-rows: repeat(3,max-content);
        -ms-grid-rows: (max-content)[3];
    }
    .filter__category, #filter__drop{
        height: 65px;
    }
    #filter__drop{
        position: relative;
    }
    .filter--drop #filter__drop{
        position: absolute;
    }
    .filter__category--1{
        -ms-grid-column: 1;
    }
    .filter__category--2{
        grid-column: 2/4;
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
    }
    .filter__category--3{
        grid-column: 4;
        -ms-grid-column: 4;
    }
    .filter__category--4{
        -ms-grid-column: 5;
    }
    .filter__category--5{
        -ms-grid-column: 6;
    }
    .filter__category--6{
        grid-column: 7/9;
        -ms-grid-column: 7;
        -ms-grid-column-span: 2;
    }
    .filter__options{
        padding-top: 50px;
    }
    .filter__options--1{
        grid-row: 2;
        -ms-grid-row: 2;
        grid-column: 1/3;
        -ms-grid-column-span: 2;
    }
    .filter__options--2{
        grid-row: 2;
        -ms-grid-row: 2;
        grid-column: 4/7;
        -ms-grid-column: 4;
        -ms-grid-column-span: 3;
    }
    .filter__options--3{
        grid-row: 2;
        -ms-grid-row: 2;
        grid-column: 8/10;
        -ms-grid-column: 8;
        -ms-grid-column-span: 2;
    }
    .filter__options--4{
        grid-row: 3;
        -ms-grid-row: 3;
        grid-column: 1/3;
        -ms-grid-column-span: 2;
    }
    .filter__options--5{
        grid-row: 3;
        -ms-grid-row: 3;
        grid-column: 4/7;
        -ms-grid-column: 4;
        -ms-grid-column-span: 3;
    }
    .filter__options--6{
        grid-row: 3;
        -ms-grid-row: 3;
        grid-column: 8/10;
        -ms-grid-column: 8;
        -ms-grid-column-span: 2;
    }
}
@media (max-width:1023px){
    .filter__wrp{
        background-color: white;
    }
    #filter__drop{
        display: block;
        width: 22px;
        padding: 0 10px;
        background-color: white;
        box-shadow: -20px 3px 6px 0 white;
    }
    .filter--drop #filter__drop{
        background-image: url('../img/ico_close.svg');
        background-size: 12px;
    }
    .filter--drop .filter__options{
       display: block;
    }
    .filter__icon{
        display: none;
    }
    .filter__name{
        display: none;
    }
    .filter__checked{
        font-size: 14px;
    }
    .filter__option,
    .filter__checked{
        white-space: nowrap;
    }
    .filter__option::before{
        content:"• ";
    }
}
@media (min-width:1024px){
    .filter__wrp{
        display: grid;
        display: -ms-grid;
        grid-template-columns: repeat(6,1fr);
        -ms-grid-columns: (1fr)[6];
        grid-template-rows: max-content max-content;
        position: absolute;
        left: 50%;
        margin-left: -50%;
    }
    .filter__title{
        display: none;
    }
    .filter__name{
        display: block;
    }
    #filter__drop{
        display: none;
    }
    .filter__icon{
        display: block;
    }
    .filter__options{
        border-top: 1px solid #e5e5e5;
        border-left: 1px solid #e5e5e5;
        border-right: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;
        box-sizing: border-box;
    }
    .filter__options--1{
        grid-row: 2;
        grid-column: 1;
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .filter__options--2{
        grid-row: 2;
        grid-column: 2;
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .filter__options--3{
        grid-row: 2;
        grid-column: 3;
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .filter__options--4{
        grid-row: 2;
        grid-column: 4;
        -ms-grid-row: 2;
        -ms-grid-column: 4;
    }
    .filter__options--5{
        grid-row: 2;
        grid-column: 5;
        -ms-grid-row: 2;
        -ms-grid-column: 5;
    }
    .filter__options--6{
        grid-row: 2;
        grid-column: 6;
        -ms-grid-row: 2;
        -ms-grid-column: 6;
    }
    .filter__category{
        height: 65px;
        grid-row: 1;
        -ms-grid-row: 1;
        border-left: 1px solid #e5e5e5;
    }
    .filter__category--1{
        -ms-grid-column: 1;
    }
    .filter__category--2{
        -ms-grid-column: 2;
    }
    .filter__category--3{
        -ms-grid-column: 3;
    }
    .filter__category--4{
        -ms-grid-column: 4;
    }
    .filter__category--5{
        -ms-grid-column: 5;
    }
    .filter__category--6{
        -ms-grid-column: 6;
        border-right: 1px solid #e5e5e5;
    }
    .filter__category:hover+.filter__options{
       display: block;
    }
    .filter__options--1:hover,
    .filter__options--2:hover, 
    .filter__options--3:hover,
    .filter__options--4:hover,
    .filter__options--5:hover,
    .filter__options--6:hover{
        display: block;
    }
    .filter__option:hover{
        background-color: #f5f5f5;
    }
    .filter__category--2{
        grid-column: 2;
        -ms-grid-column: 2;
    }
    .filter__checked{
        display: none;
        flex-basis: 100%;
    }
    .filter__category--checked{
        background-color: #f5f5f5;
    }
    .filter__category--checked .filter__checked{
        display: block;
    }
    .filter__category--checked .filter__name{
        font-size: 12px;
        font-family: 'Roboto',sans-serif;
    }
}
@media(min-width:1180px){
    .filter__wrp{
        margin-left: -590px;
    }
}
@media (min-width:1300px){
    .filter::after{
        background-color: white;
        background-image: linear-gradient(to left, #ffffff 0.5%, #e5e5e5 50%, #ffffff 99.5%);
    }
}
